<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CareLink.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CareLink.My.MySettings>
      <setting name="CareLinkUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="CareLinkPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="CountryCode" serializeAs="String">
        <value>US</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseLocalTimeZone" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CareLinkPartner" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CareLinkPatientUserID" serializeAs="String">
        <value />
      </setting>
      <setting name="SystemAudioAlertsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SystemSpeechRecognitationEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SystemShowLegends" serializeAs="String">
        <value>True</value>
      </setting>
    </CareLink.My.MySettings>
  </userSettings>
</configuration>
