################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.user
bin
obj
/.vs
/TestProject1
/src/CareLink/obj/Debug/net5.0-windows
/src/CareLink/CareLink.vbproj.user
/src/System.Windows.Forms.DataVisualization/obj
src/System.Windows.Forms.DataVisualization/obj
